<!DOCTYPE html>
<html>
  <head>
    <title>Iamhome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!--below allows to 'flash' users messages if they have issues logging in, etc. -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "container alert alert-#{name}", style:'background-color: lightgreen') %>
    <% end %>
    <!-- end flash -->
    <%= yield %>
  </body>
</html>
